---
external-dns:
  provider:
    name: rfc2136
  registry: txt
  txtPrefix: external-dns-
  txtOwnerId: k8s
  sources:
    - ingress
    - service
  domainFilters:
    - intern.devopsdungeon.net
  extraArgs:
    - "--rfc2136-host=10.123.1.2"
    - "--rfc2136-port=53"
    - "--rfc2136-zone=intern.devopsdungeon.net"
    - "--rfc2136-tsig-secret=$(EXTERNAL_DNS_RFC2136_TSIG_SECRET)"
    - "--rfc2136-tsig-secret-alg=hmac-sha256"
    - "--rfc2136-tsig-keyname=externaldns-key"
    - "--rfc2136-tsig-axfr"
  env:
    - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
      valueFrom:
        secretKeyRef:
          name: external-dns-tsig-secret
          key: TSIG_SECRET
