---
external-dns:
  provider:
    name: pdns
  logLevel: debug
  registry: txt
  txtPrefix: external-dns-
  txtOwnerId: k8s
  policy: sync
  sources:
    - ingress
    - service
    - crd
  domainFilters:
    - intern.devopsdungeon.net
    - 1.123.10.in-addr.arpa
  extraArgs:
    - --pdns-server=http://10.123.1.2:8081
    - --pdns-server-id=nis-1-dod
    - --pdns-api-key=854eMruaKQZJ74GZzRVvqVXk
  #env:
  #  - name: RFC2136_TSIG_SECRET
  #    valueFrom:
  #      secretKeyRef:
  #        name: rfc2136-tsig-secret
  #        key: TSIG_SECRET
