---
external-dns:
  provider:
    name: pdns
  logLevel: info
  registry: txt
  txtPrefix: external-dns-
  txtOwnerId: k8s
  policy: sync
  sources:
    - ingress
    - service
    - crd
  domainFilters:
    - intern.devopsdungeon.net
    - 1.123.10.in-addr.arpa
  extraArgs:
    - --pdns-server=http://10.123.1.2:8081
    - --pdns-server-id=localhost
    - "--pdns-api-key=${PDNS_API_KEY}"
  env:
    - name: PDNS_API_KEY
      valueFrom:
        secretKeyRef:
          name: pdns-api-key
          key: pdns-api-key
