---
external-dns:
  provider:
    name: rfc2136
  logLevel: panic
  registry: txt
  txtPrefix: external-dns-
  txtOwnerId: k8s
  policy: sync
  sources:
    - ingress
    - service
    - crd
  domainFilters:
    - intern.devopsdungeon.net
    - 1.123.10.in-addr.arpa
  extraArgs:
    - "--rfc2136-host=10.123.1.2"
    - "--rfc2136-port=53"
    - "--rfc2136-zone=intern.devopsdungeon.net"
    - "--rfc2136-zone=1.123.10.in-addr.arpa"
    - "--rfc2136-tsig-secret=$(RFC2136_TSIG_SECRET)"
    - "--rfc2136-tsig-secret-alg=hmac-sha256"
    - "--rfc2136-tsig-keyname=externaldns-key"
    - "--rfc2136-create-ptr"
    - "--rfc2136-tsig-axfr"
  env:
    - name: RFC2136_TSIG_SECRET
      valueFrom:
        secretKeyRef:
          name: rfc2136-tsig-secret
          key: TSIG_SECRET
